.loader_container {

    width: 100%;
    height: calc(100vh - var(--header-height));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 30px;

    >.loader {

        width: 48px;
        height: 48px;
        position: relative;

        &::before {
            content: '';
            width: 48px;
            height: 5px;
            background: var(--color-primary);
            opacity: 0.25;
            position: absolute;
            top: 60px;
            left: 0;
            border-radius: 50%;
            animation: shadow 0.5s linear infinite;
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background: var(--color-primary-accent);
            animation: load 0.5s linear infinite;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4px;
        }

    }

    > span {
        font-size: 18px;
        font-weight: 500;
        color: var(--color-gray3);
        animation: glow 1s linear infinite;
    }
}

@keyframes load {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {

    0%,
    100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }
}

@keyframes glow {
    0%,
    100% {
        color: var(--color-gray3);
    }
    50% {
        color: var(--color-gray4);
    }
}