:root {
    --color-white: #ffffff;
    --color-white-rgb: 255,255,255;
    --color-light: #fafafa;
    --color-light-rgb: 250,250,250;
    --color-black: #14171A;
    --color-black-rgb: 20, 23, 26;
    --color-dark: #252629;

    --color-primary: #999fff;
    --color-primary-rgb: 153, 159, 255;
    --color-primary-bg: #e5e7ff;
    --color-primary-fg: #333bb1;
    --color-primary-accent: #3742c7;
    --color-primary-accent-hover: #2f3aaf;

    --color-yellow: #ffea83;
    --color-yellow-bg: #ffea83;
    --color-yellow-fg: #3b3827;

    --color-red-bg: #ffd3d3;
    --color-red-fg: #5f2727;
    --color-red-accent: #ff4f33;

    --color-blue-bg: #c3deff;
    --color-blue-fg: #252a3d;
    --color-blue-accent: #313fe7;

    --color-dark-bg: #e3e3e3;
    --color-dark-fg: #292a2d;
    --color-dark-accent: #1c1e21;

    --color-gray1: #fcfcfc;
    --color-gray2: #fafafa;
    --color-gray3: #f1f1f1;
    --color-gray4: #d0d0d0;
    --color-gray5: #bcbcbc;
    --color-gray6: #9e9e9e;
    --color-gray7: #7b7b7b;
    --color-gray8: #5a5a5a;
    --color-gray9: #454545;


    --header-height: 89px;
}