

.play_screen {
    height: max(calc(100vh - var(--header-height)), 640px);

    display: flex;
    flex-direction: column;

    >.progress {

        padding-top: 10px;
        width: 100%;

        margin-bottom: 10px;

        >.progress_bar {
            position: relative;
            height: 10px;
            background-color: var(--color-gray2);

            border-radius: 99px;

            margin-bottom: 4px;

            > div {
                position: absolute;
                left: 0;
                height: 10px;
                top: 0;

                background-color: var(--color-black);

                border-radius: 99px;
            }
        }

        >.text {
            font-size: 15px;
            font-weight: 400;
            display: flex;
            justify-content: space-between;
        }
    }

    >.candidates {

        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;

        >.candidate {
            
            display: flex;
            flex-direction: column;
            position: relative;

            > img {
                height: calc(100vh - calc(var(--header-height) + 100px));
                width: 100%;
                flex-grow: 1;
                object-fit: contain;
            }

            > span {
                position: absolute;
            }
        }
    }
}